@import "tailwindcss";

:focus {
  outline: 3px solid #2563eb;
  outline-offset: 2px;
}

/* Remove focus outline from entire slider */
input[type="range"]:focus {
  outline: none;
}

/* Custom thumb styles for Chrome/Edge/Safari */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: white;
  border: none;
  box-shadow: 0 0 0 2px transparent;
  transition: box-shadow 0.2s ease-in-out;
}

input[type="range"]:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 2px #3b82f6;
  /* Tailwind blue-500 */
}

/* Firefox */
input[type="range"]::-moz-range-thumb {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: white;
  border: none;
  box-shadow: 0 0 0 2px transparent;
  transition: box-shadow 0.2s ease-in-out;
}

input[type="range"]:focus::-moz-range-thumb {
  box-shadow: 0 0 0 2px #3b82f6;
  /* Tailwind blue-500 */
}

/* Text size */
.accessible-content.text-md {
  font-size: 1.125rem;
  /* 18px */
}

.accessible-content.text-lg {
  font-size: 1.25rem;
  /* 20px */
}

/* Stop animations */
.accessible-content.stop-animations *,
.accessible-content.stop-animations *::before,
.accessible-content.stop-animations *::after {
  animation-play-state: paused !important;
  transition: none !important;
}

/* Readable font */
.accessible-content.font-readable {
  font-family: Arial, Helvetica, sans-serif !important;
  letter-spacing: 0.05em;
}

/* High contrast */
.accessible-content.high-contrast {
  filter: contrast(200%) brightness(120%) !important;
  /* background-color: black !important;
  color: white !important; */
}

/* Invert colors */
.accessible-content.invert-colors {
  filter: invert(100%) hue-rotate(180deg) !important;
}

/* Grayscale */
.accessible-content.grayscale {
  filter: grayscale(100%) !important;
}

/* Highlight links */
.accessible-content.highlight-links a {
  background-color: yellow;
  color: #000;
  outline: 2px solid #2563eb;
  /* Tailwind blue-600 */
  outline-offset: 2px;
}

@media print {
  body * {
    visibility: hidden;
  }

  #print-section,
  #print-section * {
    visibility: visible;
  }

  #print-section {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 0;
    margin: 0;
  }
}

@keyframes ticker {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.animate-ticker {
  display: inline-block;
  animation: ticker 20s linear infinite;
}

.animate-ticker:hover {
  animation-play-state: paused;
}

